name: qt5 crossbuild package release

on:
  workflow_dispatch:
    inputs:
      skip_rerun:
        description: "Skip rerun?"
        required: true
        type: boolean
      retries:
        description: 'Number of rerun retries'
        required: true
        default: '5'
        type: choice
        options: [ "1", "2", "3", "4", "5", "6", "7", "8", "9" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      qt_version: ${{ steps.version_info.outputs.qt_version }}
    strategy:
      fail-fast: false
      matrix:
        name: [qt5]
        os_id: [debian, ubuntu]
        os_codename: [buster, bullseye, bookworm, bionic, focal, jammy]
        arch: [amd64, armhf, arm64]
        include:
          - arch: amd64
            CHOST: "x86_64-linux-gnu"
            docker_arch: amd64
            docker_platform: linux/amd64
            qt_mkspec: ""
          - arch: armhf
            CHOST: "arm-linux-gnueabihf"
            docker_arch: arm32v7
            docker_platform: linux/arm/v7
            qt_mkspec: "-xplatform linux-arm-gnueabi-g++"
          - arch: arm64
            CHOST: "aarch64-linux-gnu"
            docker_arch: arm64v8
            docker_platform: linux/arm64/v8
            qt_mkspec: "-xplatform linux-aarch64-gnu-g++"
        exclude:
          - os_id: debian
            os_codename: bionic
          - os_id: debian
            os_codename: focal
          - os_id: debian
            os_codename: jammy
          - os_id: ubuntu
            os_codename: buster
          - os_id: ubuntu
            os_codename: bullseye
          - os_id: ubuntu
            os_codename: bookworm

    name: ${{ matrix.os_id }}:${{ matrix.os_codename }} ${{ matrix.name }} ${{ matrix.arch }}

    env:
      opt_dir_name: "opt/local"
      qt_short_version: "5"
      cxx_standard: "17"
      GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
      - name: Host - Checkout action
        uses: actions/checkout@v4

      # Fix this bug https://github.com/actions/runner-images/issues/7192
      - name: Host - phased updates
        run: printf '%s\n' 'APT::Get::Always-Include-Phased-Updates "false";' | sudo tee /etc/apt/apt.conf.d/99-phased-updates

      # Bootstrap Ubuntu Lunar repo so that we can install specific app we may need, like binfmt and qemu-user-static
      - name: Host - set up lunar repo -t lunar
        run: |
          printf '%b\n' 'Package: *\nPin: release n=lunar\nPin-Priority: 50' | sudo tee /etc/apt/preferences
          printf '%s\n' 'deb http://archive.ubuntu.com/ubuntu/ lunar main universe restricted' | sudo tee /etc/apt/sources.list.d/lunar.list

      - name: Host - update
        run: sudo apt-get update

      # - name: Host - upgrade
      #   run: sudo apt-get -y upgrade

      # No action or other method to bootstrap binfmt. Install from lunar and we get the latest versions and full docker support
      - name: Host - set up qemu-user-static binfmt-support from lunar
        run: sudo apt install -t lunar libpipeline1 qemu-user-static binfmt-support

      # Why are we doing it like this and not using a container setup? That's how you're supposed to do it, right?
      # qemu-user-static and binfmt-support are not part of the runner images https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md
      # We would need to modify the runner to install these before the container starts. Which you cannot do as there is no way to bootstrap the host.
      # So we install them on the host then create/pull a custom docker image that we use to build the multiarch targets.
      # We are always on the host runner but can use any docker image we need with the access the qemu emulation when required.
      #
      # We are using these pre configured toolchain images that allows me to remove 50% of the code/time from this action.
      #
      # https://github.com/userdocs/dcb/blob/main/Dockerfile
      #
      # The image does not run as root and has password-less sudo. There are two users username:1000 /home/username and github:1001 /home/github
      # In the action it runs as 1001 /home/github and files should be available to the host. For local use, you might need -u 1000

      - name: Host - Create docker multiarch ${{ matrix.arch }} container
        run: docker run --name multiarch -it -d -u 1001 -v ${{ github.workspace }}:/home/github ghcr.io/userdocs/dcb:${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.arch }}

      - name: Docker - zlib-ng download and install
        run: |
          docker exec multiarch curl -sNL "https://github.com/userdocs/zlib-ng-crossbuild/releases/latest/download/${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb" -o ${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb
          docker exec multiarch sudo dpkg -i ${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb

      - name: Docker - openssl download and install
        run: |
          docker exec multiarch curl -sNL "https://github.com/userdocs/openssl-crossbuild/releases/latest/download/${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb" -o ${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb
          docker exec multiarch sudo dpkg -i ${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb

      - name: Host - qt get latest release info and create env and urls
        id: version_info
        run: |
          qt_github_tag="$(git ls-remote -q -t --refs "https://github.com/qt/qtbase.git" | awk '/'"v${qt_short_version}"'/{sub("refs/tags/v", "");sub("(.*)(-a|-b|-r)", ""); print $2 }' | awk '!/^$/' | sort -rV | head -n 1)"
          qt_version=${qt_github_tag%%-*}

          read -ra qt_version_short_array <<< "${qt_version//\./ }"
          qt_short_version="${qt_version_short_array[0]}.${qt_version_short_array[1]}"

          printf '%s\n' "qt_qtbase_url=https://download.qt.io/official_releases/qt/${qt_short_version}/${qt_version}/submodules/qtbase-everywhere-opensource-src-${qt_version}.tar.xz" >> $GITHUB_ENV
          printf '%s\n' "qt_qttools_url=https://download.qt.io/official_releases/qt/${qt_short_version}/${qt_version}/submodules/qttools-everywhere-opensource-src-${qt_version}.tar.xz" >> $GITHUB_ENV

          printf '%s\n' "qt_short_version=${qt_short_version}" >> $GITHUB_ENV
          printf '%s\n' "qt_version=${qt_version}" >> $GITHUB_ENV
          printf '%s\n' "qt_version=${qt_version}" >> $GITHUB_OUTPUT

      - name: Host - qt qtbase - curl
        run: curl -sNL ${{ env.qt_qtbase_url }} -o qtbase.tar.xz && tar xf qtbase.tar.xz

      - name: Docker - qt qtbase - mkspec armhf
        if: matrix.arch == 'armhf'
        run: sed "s|arm-linux-gnueabi|${{ matrix.CHOST }}|g" -i "qtbase-everywhere-src-${{ env.qt_version }}/mkspecs/linux-arm-gnueabi-g++/qmake.conf"

      - name: Docker - qt qtbase - mkspec arm64
        if: matrix.arch == 'arm64'
        run: sed "s|aarch64-linux-gnu|${{ matrix.CHOST }}|g" -i "qtbase-everywhere-src-${{ env.qt_version }}/mkspecs/linux-aarch64-gnu-g++/qmake.conf"

      - name: Docker - qt qtbase - fix gcc 11 building
        run: sed '/^#  include <utility>/a#  include <limits>' -i "qtbase-everywhere-src-${{ env.qt_version }}/src/corelib/global/qglobal.h"

      - name: Docker - qt qtbase - configure
        run: |
          docker exec -w /home/github/qtbase-everywhere-src-${{ env.qt_version }} multiarch ./configure ${{ matrix.qt_mkspec }} \
          -prefix "/home/github/build/${{ env.opt_dir_name }}" -opensource -confirm-license -release -ssl -c++std ${{ env.cxx_standard }}  \
          -qt-pcre -no-feature-glib -no-feature-opengl -no-feature-dbus -no-feature-gui -no-feature-widgets \
          -no-feature-testlib -no-compile-examples -skip tests -nomake tests -skip examples -nomake examples

      - name: Docker - qt qtbase - make
        run: docker exec -w /home/github/qtbase-everywhere-src-${{ env.qt_version }} multiarch make

      - name: Docker - qt qtbase - make install
        run: docker exec -w /home/github/qtbase-everywhere-src-${{ env.qt_version }} multiarch make install

      - name: Docker - qt qttools - curl
        run: curl -sNL ${{ env.qt_qttools_url }} -o qttools.tar.xz && tar xf qttools.tar.xz

      - name: Docker - qt qttools - make build
        run: |
          docker exec -w /home/github/qttools-everywhere-src-${{ env.qt_version }} multiarch /home/github/build/${{ env.opt_dir_name }}/bin/qmake -set prefix "/home/github/build/${{ env.opt_dir_name }}"
          docker exec -w /home/github/qttools-everywhere-src-${{ env.qt_version }} multiarch /home/github/build/${{ env.opt_dir_name }}/bin/qmake QMAKE_CXXFLAGS="-std=c++${{ env.cxx_standard }}"
          docker exec -w /home/github/qttools-everywhere-src-${{ env.qt_version }} multiarch make -j"$(nproc)"

      - name: Docker - qt qttools - make install
        run: |
          docker exec -w /home/github/qttools-everywhere-src-${{ env.qt_version }} multiarch /home/github/build/${{ env.opt_dir_name }}/bin/qmake -set prefix "/home/github/build/${{ env.opt_dir_name }}"
          docker exec -w /home/github/qttools-everywhere-src-${{ env.qt_version }} multiarch make install QMAKE_CXXFLAGS="-std=c++${{ env.cxx_standard }}"

      - name: Docker - Set deb dependencies for qt
        run: echo "qt-deb-deps=zlib-ng,openssl" >> $GITHUB_ENV

      - name: Docker - ldconfig - create /etc/ld.so.conf.d/qt6.conf
        run: |
          docker exec -w /home/github/build multiarch mkdir -p DEBIAN
          docker exec -w /home/github/build/DEBIAN multiarch bash -c "printf '%b\n' '#!/usr/bin/env bash\nldconfig' > postinst"
          docker exec -w /home/github/build/DEBIAN multiarch bash -c "chmod +x postinst"
          docker exec -w /home/github/build multiarch mkdir -p etc/ld.so.conf.d
          docker exec -w /home/github/build/etc/ld.so.conf.d multiarch bash -c "printf '%s\n' '/${{ env.opt_dir_name }}/lib' > qt5.conf"

      - name: Host - Create deb packages
        uses: jiro4989/build-deb-action@v3
        with:
          package: "${{ matrix.name }}"
          package_root: build
          maintainer: userdocs
          compress_type: gzip
          version: "${{ env.qt_version }}"
          depends: "${{ env.qt-deb-deps }}"
          arch: "${{ matrix.arch }}"
          desc: "${{ matrix.name }}-${{ matrix.arch }} for ${{ matrix.os_id }}-${{ matrix.os_codename }}"

      - name: Host - Remove version from release name and use hyphens
        run: mv -f "${{ matrix.name }}_${{ env.qt_version }}_${{ matrix.arch }}.deb" "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}.deb"

      - name: Host - upload deb packages
        uses: actions/upload-artifact@v3
        with:
          name: "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}-deb"
          path: "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}.deb"

  release:
    name: Upload artifacts to release
    runs-on: ubuntu-latest
    needs: build
    if: always() && contains(needs.*.result, 'success') && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled')
    env:
      GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      qt_version: ${{ needs.build.outputs.qt_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Host - Download artifacts
        uses: actions/download-artifact@v4

      - name: Host - artifacts organise for release
        run: |
          mkdir -p "releases"
          for files in *-deb; do
              cp -rf ${files}/* "releases/"
          done

      - name: Host - "Create release - tag - assets"
        uses: ncipollo/release-action@v1
        with:
          prerelease: false
          artifacts: releases/*.deb
          replacesArtifacts: true
          tag: "${{ env.qt_version }}"
          name: "qt ${{ env.qt_version }}"
          body: "Built with qmake using v${{ env.qt_version }} from github on amd64 arm64 armhf for Debian Buster Bullseye and Ubuntu bionic Focal Jammy"
          allowUpdates: true

  rerun-on-failure:
    if: failure() && inputs.skip_rerun == '0'
    name: rerun-on-failure
    needs: release
    permissions:
      actions: write
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    steps:
      - uses: actions/checkout@v4
      - name: Trigger rerun workflow on job failures
        run: |
          inputs_value="${{ inputs.retries }}"
          gh workflow run rerun.yml -f run_id=${{ github.run_id }} -f attempts=${{ github.run_attempt }} -f retries=${inputs_value:-3}
